# Ignore objects and archives.
*.[oa]

# Ignore the doc folder
doc

# ignore .files
.*
!.gitignore

# folderok
Debug
temp*
proba*
waves

# fordítási és futtatási fájlok
lal*
own*
*.b
*out

# egyéb
*~
*.cx
*.hx
